
#again_btn_time, #answer, #answer1, #show_wrong_ans_0, * {
    text-align: center;

}

.Question_page {
    margin-top: 50px;
}

/***************************Start Page**********************************/
#input_nid {
    height: 25px;
    padding: 5px 15px;
    border: 2px black solid;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#start_btn {
    background-color: #f44336;
    font-size: 24px;
    margin: 30px;
    padding: 16px 32px;
    border-radius: 12px;
}

#start_btn:hover {
    background-color: #ac0707;
}

#start_img {
    max-width: 40%;
    max-height: 40%;
}

/*************************Timer********************************/
.shell {
    height: 20px;
    width: 20em;
    background: #555;
    margin: 30px auto;
    border-radius: 50px;
    overflow: hidden;
}

.shell div {
    float: right;
    height: 30px;
    background: #ef4e6e;
}

/*****************************Score***************************/
#score {
    position: absolute;
    margin: 0px 0px 5px 20px;
    top: 0;
    left: 0;
}

#total_score {
    text-align: left;
    margin: 5px 10px 0 0;
    font-size: 20px;
    font-weight: bold;
}

/*************************Question_page**************************/
.Question_page h2 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.Question_page form div {
    text-align: center;
    padding: 10px;
}

.Question_page form div:hover {
    background-color: rgba(166,255,255,0.3);
}

.Question_page form input {
    background-color: #1a8cffff;
    width: 370px;
    font-size: 20px;
    margin: 30px;
    padding: 16px 16px 16px 16px;
    border-radius: 12px;
}

/*************************show_wrong_page**************************/
.show_wrong_page h2 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}


.show_wrong_page form div {
    text-align: center;
    padding: 10px;
}

.show_wrong_page form div:hover {
    background-color: #e6ffff;
}

.show_wrong_page form input {
    background-color: #1a8cffff;
    width: 370px;
    font-size: 20px;
    margin: 30px;
    padding: 16px 16px 16px 16px;
    border-radius: 12px;
}
#show_wrong_q{
    margin-top: 15%;
}


/***************************end_page*****************************/
#final_p, #final_score, #final_p_time, #final_score_time {
    font-size: 35px;
    font-weight: bold;
}


#again_btn, #info_btn, #again_btn_time, #info_btn_time, #answer, {
    background-color: #80bfff;
    width: 340px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 30px 30px 30px;
    padding: 16px 32px;
    border-radius: 12px;

}

#answer, #again_btn, #info_btn, #again_btn_time, #info_btn_time{
    width: 220px;
    background-color: #80bfff;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
    padding: 16px 32px;
    border-radius: 12px;
}

#show_wrong_ans_0{
    width: auto;
    cursor: pointer;
    background-color: #80bfff;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.but{
    border-radius: 12px;
    background-color: #f4511e;
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 16px ;
    width: 120px;
    cursor: pointer;
    margin: 30px;
    border: none;
    transition: all 0.5s;
}

.but span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.but span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.but:hover span{
    padding-right: 20px;
}

.but:hover span:after{
    opacity: 1;
    right: 0;
}

#again_btn:hover, #again_btn_time:hover, #answer:hover {
    background-color: #1a8cff;
}

#info_btn:hover, #info_btn_time:hover {
    background-color: #1a8cff;
}

#finish_img_time {
    margin-top: 8%;
    margin-bottom: 2%;
    max-width: 40%;
    max-height: 40%;
}

/*RWD 手機*/
@media (min-width: 320px) and (max-width: 768px) {
    .Question_page {
        margin-top: 0;
    }

    .Question_page h2 {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 22px;
        font-weight: normal;
    }

    .Question_page form input {
        background-color: #1a8cffff;
        width: 250px;
        font-size: 20px;
        font-weight: normal;
        border-radius: 12px;
        margin: 15px;
        overflow-y: auto;
    }
	
	.Question_page form div show_wrong_ans_0{
		text-align: center;
		padding: 20px;
	}
	
	#show_wrong_q{
		margin-top:40%;
	}

    #start_btn {
        background-color: #f44336;
        font-size: 20px;
        margin: 0;
        padding: 16px 32px;
        border-radius: 12px;
    }

    #start_img {
        margin-top: 15%;
        max-width: 80%;
        max-height: 80%;
    }
	#input_nid{
		margin: 5%;
		height: 35px;
	}

    #score {
        margin-left: 32%;
    }

    #total_score {
        text-align: center;
    }

    #finish_img {
        margin-top: 10%;
        max-width: 55%;
        max-height: 55%;
    }

    #finish_img_time {
        margin-top: 10%;
        max-width: 75%;
        max-height: 75%;
    }

    #info_btn, #info_btn_time {
        background-color: #80bfff;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 20px 20px 20px;
        padding: 16px 32px;
        border-radius: 12px;
    }

    #answer, #again_btn, #again_btn_time {
        background-color: #80bfff;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 20px 20px 20px;
        padding: 16px 32px;
        border-radius: 12px;
    }

    #final_p, #final_score, #final_p_time, #final_score_time {
        font-size: 30px;
        font-weight: bold;
    }
	
	#show_wrong_ans_0{
		width: 300px;
		cursor: pointer;
		background-color: #80bfff;
		font-size: 20px;
		font-weight: bold;
		margin: 30px;
		padding: 16px 32px;
		border-radius: 4px;
		border: none;
		overflow-y: auto;
	}

    .shell {
        height: 20px;
        width: 15em;
        background: #555;
        margin: 30px auto;
        border-radius: 50px;
        overflow: hidden;
    }

    .shell div {
        float: right;
        height: 30px;
        background: #ef4e6e;
    }
}

/*RWD 平板*/
@media (min-width: 960px) and (max-width: 1200px) {
    .Question_page {
        margin-top: 0;
    }

    .Question_page h2 {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 22px;
        font-weight: normal;
    }

    .Question_page form input {
        background-color: #1a8cffff;
        width: 370px;
        font-size: 20px;
        font-weight: normal;
        border-radius: 12px;
        margin: 15px;
        overflow-y: auto;
    }
	
    #start_btn {
        background-color: #f44336;
        font-size: 20px;
        margin: 2%;
        padding: 16px 32px;
        border-radius: 12px;
    }

    #start_img {
        margin-top: 10%;
        max-width: 45%;
        max-height: 45%;
    }
	
	#input_nid{
		margin: 3%;
		height: 35px;
		

    #score {
        margin-left: 44%;
    }

    #total_score {
        text-align: center;
    }

    #finish_img {
        margin-top: 10%;
        max-width: 55%;
        max-height: 55%;
    }

    #finish_img_time {
        margin-top: 10%;
        max-width: 75%;
        max-height: 75%;
    }

    #info_btn, #info_btn_time {
        background-color: #80bfff;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 30px 30px 30px;
        padding: 16px 32px;
        border-radius: 12px;
    }

    #again_btn, #again_btn_time {
        background-color: #80bfff;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        margin: 30px 30px 30px 30px;
        padding: 16px 32px;
        border-radius: 12px;
    }

    #final_p, #final_score, #final_p_time, #final_score_time {
        font-size: 30px;
        font-weight: bold;
    }
	
	#show_wrong_ans_0{
		width: auto;
		cursor: pointer;
		background-color: #80bfff;
		font-size: 20px;
		font-weight: bold;
		margin: 30px;
		padding: 16px 32px;
		border-radius: 4px;
		border: none;
		overflow-y: auto;
	}

    .shell {
        height: 20px;
        width: 15em;
        background: #555;
        margin: 30px auto;
        border-radius: 50px;
        overflow: hidden;
    }

    .shell div {
        float: right;
        height: 30px;
        background: #ef4e6e;
    }
}
body {
  background-image:url('../image/index_background.jpg');
  background-size: cover
}
